env/
.env
__pycache__
DATA/bdd/
DATA/DataLake/
BACKEND/db.sqlite3
BACKEND/scraping_output.log
BACKEND/Scrap/scrapers/gorafi_scraper/scrapy_log.txt
BACKEND/Scrap/scrapers/francetvinfo/francetvinfo_log.txt
